.profilePageForm
{
    min-height: 1150px;
    height: fit-content;
    background-color: #3F4F57;
}

.profilePageForm .emptyCard
{
    height: 230px;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.profilePageForm .emptyCard label
{
    font-size: 30px;
    font-weight: bold;
}
